* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}

html,
main {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #F3FCF7;
}

body>div:first-of-type {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "nav";
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    overflow-y: auto;
}